
mixin hello-world()
	- const { quote, cite } = Whitelabel.getJSON('sample.json')

	hello-world.hello-world

		+image( 'sample/whitelabel.webp', 'WhiteLabel', false )( width="350" )

		h1.display-4.text-center Whitelabel

		figure.text-center
			blockquote.blockquote
				p.mb-0=quote
			figcaption.blockquote-footer
				cite( title=cite )=cite
