
mixin hello-world()
	- const { quote, cite } = Medusa.data('sample.json')

	hello-world.hello-world

		div.hello-world__icon.text-center
			img( src="https://us.123rf.com/450wm/bogadeva1983/bogadeva19832104/bogadeva1983210400016/169555968-medusa-gorgon-with-snakes-drawn-in-tattoo-style-vector-illustration.jpg?ver=6" )

		h1.display-3.text-center Hello World

		div.hello-world__quote
			figure
				blockquote.blockquote
					p.mb-0=quote
				figcaption.blockquote-footer
					cite( title=cite )=cite
