
mixin hello-world()
	- const { quote, cite } = Whitelabel.data('sample.json')

	hello-world.hello-world

		div.hello-world__icon.text-center
			+image( 'https://artboard.studio/_next/image?url=https%3A%2F%2Fcdn.artboard.studio%2Fartboard%2Fitems%2F5a684bb8e2c033004eb95471%2Fraw-preview.png&w=640&q=75' )

		h1.display-3.text-center Hello World

		div.hello-world__quote
			figure
				blockquote.blockquote
					p.mb-0=quote
				figcaption.blockquote-footer
					cite( title=cite )=cite
