
mixin hello-world()
	- const { quote, cite } = Whitelabel.data('sample.json')

	hello-world.hello-world

		div.hello-world__icon
			+image( 'sample/whitelabel.webp', 'WhiteLabel', false )

		h1.title-1 Whitelabel

		div.hello-world__quote
			figure
				blockquote.blockquote
					p.mb-0=quote
				figcaption.blockquote-footer
					cite( title=cite )=cite
