extends /layouts/default.pug

include ./components/todos/index.pug
//- include /node_modules/...

block head
	+log({ users: API.users, route })

block content

	div.row.w-100
		div.col-lg-5.col-md-6.m-auto
			section.todo-example
				h1.display-3.mb-4 Todo Example
				+todos()
