include /components/image/index.pug
include /components/webcomponent/index.pug

mixin hello-world()

	- const image = require(`assets/images/logo.png`).default

	section.hello-world

		.hello-world__content
			img.logo( src=image )
			h1 Hello World
			block
			h4 Web Component Example
			+webcomponent('x-counter', { title: 'Contador', counter: 0 })
