
.rickandmorty

	$gutter = 10px

	display grid

	grid-template-rows auto
	grid-column-gap $gutter
	grid-row-gap $gutter

	justify-content start
	align-items end

	+below('mobile')
		grid-template-columns repeat(2, auto)

	+between('mobile', 'tablet')
		grid-template-columns repeat(3, auto)

	+above('tablet')
		grid-template-columns repeat(4, auto)
		li:nth-child(1)
			grid-column 1/3

	img
		width 100%
		height 100%
		display block
