extends /layouts/default.pug

include /components/form/index.pug
include ./components/register-user/index.pug

block variables

block head
	+log( route )

block content

	h1.display-3 Form Example

	+register-user()
