
mixin header()

	header.header
		ul.nav.pt-2
			li.nav-item
				+link-to('home').nav-link
					+image('logo.svg', 'Jails', false)(width="30")
			li.nav-item
				+link-to('form-example', 'title').nav-link
			li.nav-item
				+link-to('todo-example', 'title').nav-link
			li.nav-item
				+link-to('web-component-example', 'title').nav-link
