include /shared/components/image/index.pug
include /shared/components/webcomponent/index.pug

mixin hello-world()

	section.hello-world

		.hello-world__content
			+image('logo.png').logo
			h1 Hello World
			block
			h4 Web Component Example
			+webcomponent('x-counter', { title: 'Contador', counter: 0 })
