.hello-world {
	align-items: center;
	justify-content: center;
	text-align: center;
	display: flex;
	padding: 0 25px;
}

.hello-world h1 {
	font-size: 60px;
	font-weight: 300;
	margin: 15px 0 0;
}

.hello-world blockquote {
	margin: 15px 0;
	font-size: 18px;
	max-width: 550px;
	line-height: 1.5;
}

.hello-world a {
	display: inline-block;
	margin: 0 10px;
	color: #369;
}

.hello-world .logo {
	width: 120px;
	height: 120px;
	margin: 10px 0;
}

.hello-world .list {
	display: flex;
	justify-content: center;
	height: 250px;
}

.hello-world .list li {
	margin: 20px 10px 0px;
}

.hello-world .list img {
	max-width: 100px;
	border-radius: 50%;
}
