---
import Layout     from 'layouts/default.astro'
import HelloWorld from './_components/hello-world/index.astro'

---

<Layout>

	<main class="d-flex align-items-center justify-content-center min-vh-100">
		<HelloWorld
            title="Hello World"
            jailsLogo="//jails-org.github.io/images/logo.svg"
            astroLogo="//astro.build/assets/press/logomark-light.svg"
		/>
    </main>

</Layout>
