extends /layouts/default.pug

include ./components/hello-world/index.pug
//- include /node_modules/...

block variables
	//- Variables defined here will be available on layout.pug

block head
	//- Add more head elements as you will
	+log({ API, route })

block content
	- const quote = Boilerplate.getData('shared/data/quote.json')

	+hello-world()
		blockquote #{quote.davinci.blockquote}
			cite.d-block ( #{quote.davinci.cite} )
