---
import Layout from 'layouts/default.astro'
import HelloWorld from './_components/hello-world/index.astro'
---

<link rel="stylesheet" href="https://bootswatch.com/5/cosmo/bootstrap.min.css" />

<Layout>

	<main class="home min-h-screen text-lg antialiased flex justify-center items-center px-8">
		<HelloWorld />
	</main>

</Layout>

