---
import Layout from 'layouts/default.astro'
import HelloWorld from './_components/hello-world/index.astro'
---

<Layout>
	<main class="home min-h-screen text-lg antialiased flex justify-center items-center px-8">
		<HelloWorld />
    </main>
</Layout>
