extends /layouts/default.pug
include ./components/hello-world/index.pug

block head
	- const { route } = Whitelabel.props
	+log(route)

block content
	main.home.d-flex.align-items-center.justify-content-center.vh-100
		+hello-world
