.x-counter {
	display: block;
}

.x-counter__title,
.x-counter__value {
	display: inline-block;
}

.x-counter__button {
	margin: 5px 0;
	background-color: #336699;
	color: #fff;
	padding: 5px 20px;
	display: block;
	border-radius: 5px;
}
