{
	"comments": true,
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets":{
					"esmodules":true
				},
				"useBuiltIns":"usage",
				"corejs": 3
			}
		]
	],
	"plugins": [
		"babel-plugin-transform-custom-element-classes",
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-syntax-dynamic-import"
	]
}
