extends /layouts/default.pug

include ./components/todo/index.pug
include /components/hello-world/index.pug
//- include /node_modules/...

block head
	+log( route )

block content

	+hello-world()

		- const routeAbout = Boilerplate.getRoute('about')
		- const quote = Boilerplate.getData('quote')

		blockquote #{quote.davinci.blockquote}
		cite #{quote.davinci.cite}

		p Visit :
			a( href=routeAbout.path ) /#{routeAbout.title},

	+todo()
