---
import Layout from 'layouts/index.astro'
import Home   from 'domain/home/index.astro'
---

<Layout>
	<main class="home min-h-screen text-lg antialiased flex justify-center items-center">
		<Home />
	</main>
</Layout>
