include /components/image/index.pug

mixin hello-world()

	- const quote = getData('quote')

	section.hello-world( data-component="hello-world" )

		div.hello-world__content

			+image('logo.svg', { class: 'logo', alt :'Jails Logo' })

			h1.display-4 Hello World

			block
