include /components/hello-world/index.pug

mixin welcome()

	+hello-world()

		- const routeAbout = getRoute('about')
		- const quote = getData('quote')

		blockquote #{quote.davinci.blockquote}
		cite #{quote.davinci.cite}

		a( href=routeAbout.path ) /#{routeAbout.title}

		select
			option( value="theme-light" v-selected="{{ lightmode }}" ) Light Mode
			option( value="theme-dark" v-selected="{{ darkmode }}" ) Night Mode
