[data-theme]
	transition background .3s, color .4s
	opacity 0
	animation fadein .5s linear .2s
	animation-fill-mode forwards

[data-theme="theme-light"]
	background-color #fff
	color #000

	a
		color #336699

[data-theme="theme-dark"]
	background-color #000
	color #fff

	a
		color orange

	select
		color #000
