@import './vars'

body
	font-size 16px
	font-weight 300
	-webkit-font-smoothing antialiased

a
	text-decoration none
	color inherit

.title
	font-size 45px
	font-weight 300
	letter-spacing 4px
	color $color-primary
