/* Fonts
   ========================================================================== */
$font-primary = 'Roboto'

/* Colors
   ========================================================================== */
$color-white 	 = #fff
$color-black 	 = #000
$color-primary 	 = #0F1C2D
$color-secondary = #AB1725
$color-neutral 	 = #A8A8A8

/* Breakpoints
   ========================================================================== */
$mobile  = 720px
$tablet  = 1024px
$desktop = 1280px
