
mixin register-user()

	section.register-user( data-component="register-user" )

		//- Se não houver uma variável user definida, mostra o form
		div.feedback( v-if="!user" )

			h2 User Register
			hr
			br

			form( name="register-form" data-component="form" )
				+form-group({ label: 'Nome', rules : { name:true } })( name="username" id="username" )
				+form-group({ label: 'Email', rules : { email:true } })( name="email" id="email" )
				+form-group({ label: 'Idade', rules : { required:true, minAge:18 }})( name="age" id="age" type="number" )
				button.btn.btn-primary( v-disabled="{{ !isValid }}" ) Enviar

		//- Se houver um usuário definido, mostra a mensagem de feedback
		div.feedback( v-if="user" )
			div.alert.alert-success
				strong Yeah! &nbsp;
				| The user &nbsp;
				a.alert-link(href='#') {{user.name}} &nbsp;
				| is registered sucessfully!
