
@require '~bootswatch/dist/materia/bootstrap.min.css'
@require 'styles/main'

body
	display flex
	align-items center
	height 100vh
	justify-content center
	animation fadein 1s

.site
	grid( 1/2 )
	width 75%
	align-items center
