doctype html

block variables
include ./modules.pug

html

	head

		title Boilerplate Jails | #{route.title}
		meta( charset="UTF-8" )
		meta( name="viewport" content="width=device-width, initial-scale=1" )
		link( rel="icon" href="/assets/images/logo-stripes.png" )

		+dns-prefetch([
			'https://www.google-analytics.com',
			'https://ajax.googleapis.com',
			'http://fonts.googleapis.com',
			'http://fonts.gstatic.com'
		])

		+prevent-alert()
		+style()
		+js()
		+fonts()

		block head

	body

		div.site( data-component=`application ${page}` )
			block content

		+third-party()
		+svg-sprite()
