extends /layouts/default.pug

include /shared/components/form/index.pug
include ./components/register-user/index.pug

block variables
	//- Variables defined here will be available on layout.pug

block head
	//- Add more head elements as you will
	+log({ API, route })

block content

	div.row.align-self-start.mt-3.w-100
		div.col-lg-5.col-md-6.m-auto
			section.form-example
				h1.display-3.mb-4 Form Example
				+register-user()
