.register-user
	position relative
	display flex
	align-items center
	min-height 380px

	.feedback
		flex 1
		opacity 1
		transition opacity .6s, transform .6s

		&-enter,
		&-leave-to
			position absolute
			width 100%
			top 0
			opacity 0
			transform scale(.5)
