---
import 'swiper/swiper-bundle.css'
---

<script>
	import { dependencies, register } from 'shared/main'
	import * as helloWorld from './index'
	import * as formValidation from 'jails.pandora/form-validation'
	import validations from './utils/validations'

	register('form-validation', formValidation, { ...dependencies, ...validations })
	register('hello-world', helloWorld, dependencies)

</script>

<hello-world class="hello-world">

	<h1 class="display-2 text-center">Hello World</h1>

	<div class="hello-world__preview position-relative">
		<div id="loading" html-if="!users" class="spinner-border text-primary" role="status"></div>
		<canvas width="300px" height="300px" html-static></canvas>
    </div>

	<div class="swiper" html-static>
		<div class="swiper-wrapper">
			<section class="swiper-slide" id="step-1">
				<form novalidate>
					<form-validation>
						<label class="d-block form-label">Username</label>
						<input type="text" name="username" data-validation="required" html-value="form.fields.username">
						<p class="text-danger" html-if="form.errors.username" html-inner="form.errors.username"></p>
					</form-validation>
					<section class="d-flex justify-content-between my-3">
						<button class="btn btn-success w-100" type="submit">Next</button>
					</section>
				</form>
			</section>
			<section class="swiper-slide" id="step-2">
				<form novalidate>
					<form-validation>
						<label class="d-block form-label">Email</label>
						<select name="email" data-validation="required">
							<option value="">Select One:</option>
							<option html-for="user in users"  html-inner="user.name" html-value="user.id" html-selected="form.fields.email == user.id"></option>
						</select>
						<p class="text-danger" html-if="form.errors.email" html-inner="form.errors.email"></p>
					</form-validation>
					<section class="d-flex justify-content-between my-3">
						<button class="btn btn-warning w-100" type="button" data-prev="data-prev">Go Back</button>
						<button class="btn btn-success w-100" type="submit">Next</button>
					</section>
				</form>
			</section>
			<section class="swiper-slide" id="step-3">
				<form novalidate>
					<form-validation>
						<label class="d-block form-label">Password</label>
						<input type="password" name="password" data-validation="required" html-value="form.fields.password">
						<p class="text-danger" html-if="form.errors.password" html-inner="form.errors.password"></p>
					</form-validation>
					<input type="hidden" name="finish" value="true">
					<section class="d-flex justify-content-between my-3">
						<button class="btn btn-warning w-100" type="button" data-prev="data-prev">Go Back</button>
						<button class="btn btn-success w-100" type="submit">Send</button>
					</section>
				</form>
			</section>
		</div>
    </div>

    <div html-if="success">
    	<pre html-inner="JSON.stringify(formData, null, 4)"></pre>
    </div>

  </hello-world>

<style lang="styl">

	hello-world
		display flex
		flex-direction column
		justify-content center
		align-items center
		min-height 100vh

		.&__preview
			position relative
			overflow hidden
			width 300px
			height 300px
			border-radius 50%
			margin 30px 0

		.spinner-border
			position absolute
			z-index 30
			left calc(50% - 15px)
			top 130px

		.swiper
			max-width 400px
			height 100%

		.swiper-slide
			text-align center
			font-size 18px

			/* Center slide text vertically */
			display: -webkit-box
			display: -ms-flexbox
			display: -webkit-flex
			display: flex
			-webkit-box-pack: center
			-ms-flex-pack: center
			-webkit-justify-content: center
			justify-content: center
			-webkit-box-align: center
			-ms-flex-align: center
			-webkit-align-items: center
			align-items: center

		.swiper-slide img
			display: block
			width: 100%
			height: 100%
			object-fit: cover
</style>
