---
import { Image } from '@astrojs/image/components'
import Counter from 'shared/_components/counter/index.astro'
---

<section class="hello-world flex flex-col items-center space-y-10">
	<div class="flex items-center">
		<Image format="svg" src="/astro-logo.svg" alt="Astro" width={150} height={150} />
		<span class="text-6xl font-thin block px-5">+</span>
		<Image format="svg" src="/jails-logo.svg" alt="Jails" width={130} height={100} />
	</div>
	<div class="font-thin">
		<blockquote class="text-3xl">Simplicity is the utimate sophistication</blockquote>
		<cite class="text-sm block text-center">Leonardo Da Vinci</cite>
	</div>
	<Counter />
</section>
