---
import { getUsers } from '../../_services/users'
import List from './list.astro'

const { title, jailsLogo, astroLogo } = Astro.props
const users = await getUsers()
---

<hello-world class="hello-world" html-model={`{ users: ${JSON.stringify(users)} }`}>

	<section class="logo d-flex align-items-center">
        <img src={astroLogo} class="d-block" />
        <span class="logo-plus d-block display-1">+</span>
        <img src={jailsLogo} class="d-block" />
    </section>

	<h1 class="display-3 text-center mb-4">{ title }</h1>

	<List users={users} />

</hello-world>

<style lang="styl">
	.hello-world
		img
			width 150px
			height 150px
			margin 40px auto 20px

		.logo-plus
			font-size 45px
			margin 0 50px
</style>
