---
import { getUsers } from '../../_services/users'
import List from './list.astro'

const { title, jailsLogo, astroLogo } = Astro.props
const users = await getUsers()
---

<script>
	import { dependencies, register } from 'shared/main'
	import * as helloWorld from './index'
	register('hello-world', helloWorld, dependencies)
</script>

<hello-world class="hello-world" html-model={`{ users: ${JSON.stringify(users)} }`}>

	<section class="logo">
        <img src={astroLogo} />
        <span class="logo-plus d-block display-1">+</span>
        <img src={jailsLogo} />
    </section>

	<h1 class="display-3 text-center mb-4">{ title }</h1>

	<List users={users} />

</hello-world>
