---
const { title, jailsLogo, astroLogo, counter } = Astro.props
---

{/* Passing counter variable from Astro to Jails */}
<hello-world class="hello-world" html-model={`{ counter: ${counter} }`}>

	<section class="logo d-flex align-items-center">
        <img src={astroLogo} class="d-block" />
        <span class="logo-plus d-block display-1">+</span>
        <img src={jailsLogo} class="d-block" />
    </section>

	<h1 class="display-3 text-center mb-4">{ title }</h1>

	<form class="d-flex justify-content-center">
        <section>
			<h3>Counter Example</h3>
			<div class="text-center">
				<p html-inner="counter" class="m-0 ms-2 mb-2">{ counter }</p>
				<button type="button" class="btn btn-primary" data-add>+</button>
				<button type="button" class="btn btn-primary" data-subtract>-</button>
			</div>
		</section>
    </form>
</hello-world>
