---
const { users } = Astro.props
---

{/* This example shows the worst case scenario for Jails apps, when you need static content be dynamic in the same time */}
{/* The answer for this is to duplicate html code, fortunately this is not very common */}
{/* You don't need to have a static content instead of dynamic in all situation, only for those case you want SEO optimization */}
{/* For a dynamic list, you may remove the users.map examples and keep the client side version only */}
<section>
	<h3 class="text-center mb-4" html-if="users.length">Users list Example</h3>

	{/* Client Side Version */}
	<template>
		<div class="alert alert-dismissible alert-primary" html-if="hydrated" html-for="user in users">
			<button type="button" class="btn-close" data-bs-dismiss="alert" data-remove="{user.id}"></button>
			<p><strong html-inner="user.name"></strong></p>
			<p html-inner="user.address"></p>
		</div>
	</template>

	{/* Server Side Version */}
	{users.map((user) => {
		return (
			<div class="alert alert-dismissible alert-primary" html-if="!hydrated">
				<button type="button" class="btn-close" data-bs-dismiss="alert" data-remove={user.id}></button>
				<p><strong>{user.name}</strong></p>
				<p>{user.address}</p>
			</div>
		)
	})}
</section>
