extends /layouts/default.pug

include /shared/components/webcomponent/index.pug
//- include /node_modules/...

block head
	+log({ users: API.users, route })

block content

	div.row.w-100
		div.col-lg-5.col-md-6.m-auto
			section.web-component-example
				h1.display-4.mb-4 Web Component Example
				+webcomponent('x-counter', { title: 'Counter', counter: 0 })
