---
import GoogleFonts from 'shared/_components/google-fonts/index.astro'
---
<html lang="en">
	<head>
		<title>Boilerplate | Astro + Jails</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/jails-logo.svg" />
		<GoogleFonts family={['Roboto:300,400,700']} />
	</head>
	<body>
		<x-application id="site">
            <slot />
		</x-application>
		<script is:inline data-name="analytics" type="text/third-party">
			console.log('Third Party script body executed')
		</script>
	</body>
</html>
