---
---

<html lang="en">
	<head>
		<title>Boilerplate | Astro + Jails</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/jails-logo.svg" />
		<style>
			@import "tailwindcss";
		</style>
		<script>
			import { dependencies, register, start } from 'shared/main'
			import * as application from 'shared/application'
			register('x-application', application, dependencies)
			document.addEventListener('DOMContentLoaded', (e) => {
				start()
			})
		</script>
	</head>
	<body>
		<x-application id="site">
            <slot />
		</x-application>
		<script is:inline data-name="analytics" type="text/third-party">
			console.log('Third Party script body executed')
		</script>
	</body>
</html>
