@require '~bootswatch/dist/cosmo/bootstrap.min.css'
@require 'styles/main'

body
	display flex
	align-items center
	height 100vh
	justify-content center

	&.out
		.site
			animation fadeout .5s forwards
		.main-loading
			display block
	&.in
		.site
			animation fadein 1s forwards

	.site
		opacity 0

.main-loading
	position absolute
	right 20px
	top 20px
	display none

.site
	display grid
	grid-template-columns 1fr 1fr
	gap 100px
	width 75%
	align-items center
