<html lang="en">
	<head>
		<title>Astro + Jails</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<style lang="styl" is:global>
			@require '../ui-system'
		</style>

		<script>
			import main from 'shared/main'
			main()
		</script>

	</head>
	<body>
		<div id="site">
            <slot />
        </div>
	</body>
</html>
