@require '~bootswatch/dist/cosmo/bootstrap.min.css'
@require 'styles/main'

html, body, .site
	min-height 100vh

body

	&.out
		.site-content
			animation fadeout .5s forwards
		.main-loading
			display block

	.site
		display grid
		grid-template-rows auto 1fr
		align-content center

		&-content
			animation fadein 1s forwards
			display flex
			align-items center
			justify-content center

.main-loading
	position absolute
	right 20px
	top 20px
	display none
