doctype html

block variables
	- const { props } = Whitelabel
	- const title = props.title
	- const logo = require('assets/icons/logo.svg').default

include ./mixins.pug

html
	head

		title Whitelabel Boilerplate | #{title}

		meta( charset="utf-8" )
		meta( name="viewport" content="width=device-width, initial-scale=1" )
		meta( name="theme-color" content="#fafafa" )

		link( rel="icon" href=logo )

		+css()
		+js()
		+svg-sprite()

		block head

	body
		div.site#site
			block content
