doctype html

block variables

include ./mixins.pug

html

	head

		title Boilerplate | #{route.page}

		meta( charset="utf-8" )
		meta( name="viewport" content="width=device-width, initial-scale=1" )
		meta( name="theme-color" content="#fafafa" )

		link( rel="icon" href="" )

		+js()

		block head

	body

		block content
