doctype html

block variables
	- const { title } = Whitelabel.route

include ./mixins.pug

html

	head

		title Whitelabel Boilerplate | #{title}

		meta( charset="utf-8" )
		meta( name="viewport" content="width=device-width, initial-scale=1" )
		meta( name="theme-color" content="#fafafa" )

		link( rel="icon" href=require('assets/icons/logo.svg').default )

		+css()
		+js()
		+svg-sprite()

		block head

	body
		div.site#site
			block content
